@model IEnumerable<ECommerce.ViewModels.TransferVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsApprove)
            </th>
            <th>#</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApprove)
            </td>
            <td>
                    <a asp-action="Create" asp-route-id="@item.TransferId">Details</a>
            </td>
                <td>
                    <a asp-action="Approve" asp-route-id="@item.TransferId" onclick="return confirm('Are you sure to update.')">Approve</a>
                </td>
        </tr>
}
    </tbody>
</table>
